* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.d_flex {
    display: flex;
}

.c_red, .c_yellow, .c_green {
    margin: 5px;
    cursor: pointer;
}
/* /Utility */

/* header */
#site_header {
    background-color: #DBDBDB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0.3rem;
}
.c_red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FC605C;
}

.c_yellow {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FDBC40;
}

.c_green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #33C749;
}

.IDaddress {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.censored {
    border: 5px solid white;
    padding: 0 5rem;
    margin-left: 0.5rem;
}
/* /header */

main {
    color: white;
    position: relative;
}

.main_buttons {
    justify-content: flex-end;
    padding: 1rem;
}

.speak_icon {
    margin-right: 0.5rem;
}

.speak_contain {
    background-color: #3B3B3B;
    padding: 5px;
    border-radius: 3px;
}

.speak_img {
    filter: contrast(24.5) invert(1);
    width: 16px;
}

.expand_contain {
    background-color: #3B3B3B;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
}

.hole {
    width: 8px;
    height: 4px;
    background-color: #3B3B3B;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.holecross {
    width: 4px;
    height: 8px;
    background-color: #3B3B3B;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.speakers_contain {
    margin: auto;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.speakers_contain img {
    margin: 1.6rem 0;
}

.windowsbtn_contain {
    width: 100%;
    position: absolute;
    top: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.swipe_window {
    font-size: 4rem;
}

.windowsbtnblue {
    color: #39BBFC;
}

.img_contain {
    position: relative;
}

.user {
    position: absolute;
    left: 0;
    bottom: 1.8rem;
    background-color: rgba(0, 0, 0, 0.5);
}
/* /main */

footer {
    background-color: #212325;
    margin-top: 2rem;

}
.mic_web {
    color: white;
    align-items: center;
}

.dropdown {
    font-size: 2rem;
    padding: 0 1rem;
}

.tools {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tools_card {
    color: white;
    align-items: center;
    margin: 0 1.5rem;
    text-align: center;
}

.card_text {
    text-align: center;
}

.icon_card {
    font-size: 2.5rem;
    margin: 8px 10px;
}

.i_green {
    color: green;
}

.text_fix {
    width: 80px;
}

.endcall {
    flex-grow: 1;
    min-width: 160px;
    background-color: #4A4B4D;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    color: red;
}